<p>
  <strong>Identificação da Vaga:</strong>
  <%= @parking_spot.spot_id %>
</p>

<p>
  <strong>Andar da Vaga:</strong>
  <%= @parking_spot.spot_floor %>
</p>

<p>
  <strong>Descrição da Vaga:</strong>
  <%= @parking_spot.spot_description %>
</p>

<%= link_to 'Back', parking_spots_path %>
