<h1> Vaga </h1>
<div class="ui secondary segment">
  <strong>Identificação da Vaga:</strong>
  <%= @parking_spot.spot_id %>
</div>

<div class="ui secondary segment">
  <strong>Andar da Vaga:</strong>
  <%= @parking_spot.spot_floor %>
</div>

<div class="ui secondary segment">
  <strong>Descrição da Vaga:</strong>
  <%= @parking_spot.spot_description %>
</div>

<%= link_to 'Back', parking_spots_path,class: 'ui icon button'%>
